main {
    background-image: url("../Assets/Illustration/img35.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
}

main h1 {
    position: absolute;
    color: #fff;
    top: 80%;
    margin-left: 20%;
    font-size: 60px;
    font-weight: 200;
}

main p {
    position: absolute;
    top: 100%;
    color: #fff;
    margin-left: 20%;
}